<form ngForm #f="ngForm"> 
    <div class="mb-3">
        <label for="course" class="form-label">course name</label>
        <input required minlength="5" ngModel #course="ngModel" name="course" id="course" type="text" class="form-control">
        <div *ngIf="course.invalid && course.touched" class="alert alert-danger">
            <div *ngIf="course.errors?.['required']">please give a name</div>
            <div *ngIf="course.errors?.['minlength']" >5 charc mini</div>
        </div>
        
    </div>
    <div class="mb-3">categorie
        <select ngModel #categorie="ngModel" name="categorie" class="form-select" required>
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <div *ngIf="categorie.invalid && course.touched" class="alert alert-danger">please select a categorie</div>
        <!-- <div *ngIf="" class="alert alert-danger"></div> -->
    </div>
    <div class="form-check">
        <input ngModel #mony="ngModel" class="form-check-input" name="mony" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
         30-days-money guaranted
        </label>
      </div>
      <div>{{f.value | json}}</div>
    <button [disabled]="!f.valid" class="btn btn-primary" type="submit" (click)="console(course.value)">Submit</button>
</form>